<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey there! , <%= @admin.email %></h3>
    <p> <b> NOTIFICATIONS HAS BEEN SENT!</b> </p>
    <small>Thanks for joining and have a great day!</small>
  </body>
</html>