<!DOCTYPE html>
<html>
  <head> <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> </head>
  <body>
    <h3>Hey there! , <%= @admin.email %></h3>
    <p>Welcome to <b>N</b>otification <b>T</b>riggering <b>S</b>ystem</p>
    <p>You have successfully signed up to <b>NTS</b> </p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <small>Thanks for joining and have a great day!</small>
  </body>
</html>